.outcome {
  display: grid;
  align-items: center;
  height: 21px;
  grid-template-columns: 2fr 1fr;
  color: #4b5563;

  &__name,
  &__odds {
    padding: 0.25rem;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.changed,
  &.changed &__name {
    color: #111827;
    background-color: #fef3c7;
  }
}
