.outcome {
  display: grid;
  align-items: center;
  height: 21px;
  grid-template-columns: 1.5fr 1fr;

  &__name,
  &__odds {
    padding: 0.25rem;
  }

  &__name {
    overflow: hidden;
    background: #f3f4f6;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.changed,
  &.changed &__name {
    background-color: #fef3c7;
  }
}
