.EntriesTableContainer {
  height: calc(100vh - 80px);
  overflow: scroll;
  border-bottom: 1px solid #9ca3af;

  th,
  td {
    height: 28px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 4px;
  }

  th {
    vertical-align: top;
    background-color: #f3f4f6;

    &.labels {
      text-align: left;
    }
  }

  thead th {
    padding: 0;

    & > div {
      height: 24px;
      padding: 4px;
      border-bottom: 1px solid #9ca3af;
    }
  }
}

// widths

.EntriesTable {
  thead th {
    min-width: 175px;
    max-width: 175px;

    &.labels {
      min-width: 260px;
      max-width: 260px;
    }
  }

  th.market {
    min-width: 136px;
    max-width: 136px;
  }

  th.specifier {
    min-width: 92px;
    max-width: 92px;
  }

  th.actions {
    min-width: 28px;
    max-width: 28px;
  }

  td.outcome-name {
    min-width: 120px;
    max-width: 120px;
  }

  td.outcome-odds {
    min-width: 55px;
    max-width: 55px;
  }
}

// borders

.EntriesTable {
  border-collapse: separate;
  border-bottom: 1px solid #9ca3af;

  td,
  th {
    border-top: 1px solid #9ca3af;
    border-right: 1px solid #9ca3af;
  }

  tbody tr:first-child td,
  tbody tr:first-child th {
    border-top: 2px solid #6b7280;
  }

  .outcome-name {
    border-right-color: #e5e7eb;
  }

  tbody:nth-child(2) tr:first-child td,
  tbody:nth-child(2) tr:first-child th {
    border-top: 0 !important;
  }

  tr td:last-child,
  thead th:last-child {
    border-right: 0 !important;
  }
}

// hover effects

.EntriesTable {
  tbody:hover {
    background-color: #fffbeb;
  }

  tbody tr:hover {
    background-color: #fef3c7;
  }
}

// actions

.EntriesTable {
  button {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;

    &:first-child {
      margin-bottom: 6px;
    }
  }

  .statistics button {
    margin-bottom: 0 !important;
  }
}

// sticky headers

.EntriesTable {
  th {
    box-sizing: border-box;
  }

  thead th {
    top: 0;
    z-index: 2;
    position: sticky;
    border-bottom: 1px solid #9ca3af;

    &.labels {
      left: 0;
      z-index: 3;
    }
  }

  tbody th {
    position: sticky;
    left: 0;
    z-index: 2;
    top: 96px;

    &.specifier {
      left: 138px;
    }

    &.actions {
      left: 231px;
    }
  }
}

// suspended state

.EntriesTable.suspended {
  min-width: 100%;

  thead {
    color: #9ca3af;
  }

  tbody:hover,
  tbody tr:hover {
    background-color: #fff;
  }
}

// change indicator

.EntriesTable .outcome-odds {
  position: relative;
  overflow: hidden;

  .outcome-odds-changed {
    width: 8px;
    height: 8px;
    background-color: orangeRed;
    position: absolute;
    top: -3px;
    left: -3px;
    transform: rotate(45deg);
  }
}

// statistics

.EntriesTable .statistics {
  height: auto;
  min-height: 28px;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.header {
    justify-content: space-between;
  }

  .empty {
    color: #9ca3af;
  }

  ul {
    width: 100%;

    li {
      text-align: left;
      white-space: pre-wrap;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }

      b {
        font-weight: bold;
        display: block;
      }
    }
  }
}

// diagonal lines on empty cols

.EntriesTable td.empty {
  background: repeating-linear-gradient(
      45deg,
      #e5e7eb 0,
      #e5e7eb 1px,
      transparent 0,
      transparent 50%
    )
    fixed;
  background-size: 10px 10px;
}

// footer

.EntriesTableFooter {
  background-color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  ul {
    display: inline-block;

    li {
      display: inline-block;

      &.disabled a,
      &.disabled a:hover {
        opacity: 0.5;
        background-color: #9ca3af;
      }

      &.selected a,
      &.selected a:hover {
        color: #fff;
        border-color: #0072b1;
        background-color: #0072b1;
      }

      a {
        display: inline-block;
        min-width: 4ch;
        text-align: center;
        padding: 8px;
        margin: 0 4px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: #f3f4f6;
        }
      }
    }
  }
}
