.MarketSelectionTab {
  &_Grid {
    padding: 0.75rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &_SubItem {
    margin-left: 0.75rem;
  }

  &_Search {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 0;
    border-bottom: 1px solid #9ca3af;
  }

  &_ColumnTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 0.25rem;
  }

  &_Message {
    padding: 0.75rem;
  }
}
