.base-header {
  height: 40px;
  padding: 0 0.25rem;
  color: #fff;
  background: #0072b1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__meta {
    display: flex;
    gap: 1.5rem;

    h1,
    h2 {
      font-weight: 600;
    }
  }
}
